body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}

.right{
    border: 1px solid #fce694;
    border-radius: 1em;
    padding: 1em;
    
}



.logo{
    color: #fce694;
}

header li span{
    color:#fce694; ;
}

main h2{
    color: #a4b602;
}

img{
    display: block;
   margin: 2rem auto;
}

th,td,td{
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

table{
   margin: 2rem auto;
}

main h3 {
        border-bottom: 1px solid rgb(221, 221, 221);
        text-align: center;
        margin-top: 1em;
}